.F_auto{
    padding: 20px;

}
.F_usuario{
    color: blue ;
    padding: 20px;
}

.formularioUsuario{
    background-color: aliceblue;
    padding: 20px;
}

.titulo{
    background-color: aliceblue;
}